/* Posts Page CSS */

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  background-color: #e4e9e9;
  display: flex;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  /*can be switched ot anything, yall can decide*/
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: hidden;
  line-height: 1.5rem;
}

.main {
  overflow: hidden;
  width: 100%;
}

.main::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.post {
  width: 60%;
  border-radius: 25px;
  border: 2px solid #b7b7b7;
  margin: 0.5rem;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.user-posts-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  align-items: center;
  margin: 0px;
  border-left: 1px solid white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.likes-button {
width: 1.8rem;
height: 1.8rem;
padding: 0px;
border: none;
background-color: transparent;
border-radius: 4px;
margin: 0.4rem;
}

.likes-button:hover {
opacity: 0.5;
}

.post-profile-icon {
height: 4rem;
margin-left: 1.5rem;
}


.info-div {
width: 80%;
margin: 2rem;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.likes-container {
  width: auto;
  height: 60%;
  max-height: 17rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #85989aff;
  border-radius: 20px;
  }

.likes-inner-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }

  .likes-inner-container-header {
    width: 100%;
    height: 75%;
    display: flex;
  }
  
  .likes-inner-container-footer {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.likes-amount {
width: 100%;
text-align: center;
}

.likes-select {
  width: 80%;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: medium;
  }

.posts-title {
width: 100%;
height: 10vh;
display: flex;
align-items: center;
justify-content: center;
background-color: #ccd4d5;
margin: 0px;
border-left: 1px solid white;
border-bottom: 1px solid white;
font-family: 'Fredoka One', cursive;
font-weight: 100;

}

.nav-bar {
width: 5%;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 1.5rem;
background-color: #85989a;
}

.nav-icon {
display: flex;
justify-content: center;
align-items: center;
margin-top: 1rem;
}

.nav-icon:hover {
opacity: 0.5;
}

.post-text {
  text-wrap: wrap;
}