/* Posts Page CSS */
body {
  background-color: #85989aff;
  display: flex;
  font-size: large;
  margin: 0px;
  padding: 0px;
  /*can be switched ot anything, yall can decide*/
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  overflow-y: hidden;
}

.main {
  overflow: hidden;
  width: 100%;
}

.main::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.post {
  width: 80%;
  border-radius: 25px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  border: 5px solid #b7b7b7;
  margin: 1rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.user-posts-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  align-items: center;
  margin: 0px;
  border-left: 3px solid white;
  overflow-y: scroll;
  overflow-x: hidden;
}

.likes-button {
width: 3rem;
height: 3rem;
padding: 0px;
border: none;
background-color: transparent;
border-radius: 4px;
margin: 0.7rem;
}

.likes-button:hover {
opacity: 0.5;
}

.post-profile-icon {
height: 15rem;
}


.info-div {
width: 80%;
margin: 2rem;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.likes-container {
  width: auto;
  height: 80%;
  max-height: 17rem;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid #85989aff;
  border-radius: 20px;
  }

.likes-inner-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }

  .likes-inner-container-header {
    width: 100%;
    height: 75%;
    display: flex;
  }
  
  .likes-inner-container-footer {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.likes-amount {
width: 100%;
text-align: center;
}

.likes-select {
  width: 80%;
  margin: 0.5rem;
  border-radius: 5px;
  font-size: medium;
  }

.posts-title {
width: 100%;
height: 10vh;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(172, 190, 192);
margin: 0px;
border-left: 3px solid white;
border-bottom: 3px solid white;
}

.nav-bar {
width: 7%;
padding-top: 1.5rem;
}

.nav-icon {
display: flex;
justify-content: center;
align-items: center;
margin-top: 1rem;
}

.nav-icon:hover {
opacity: 0.5;
}

.post-text {
  text-wrap: wrap;
}